                /* Main Screen */

#tempConv {
    color: black;
    font-size: 200%;
    width: 300px;
    height: 100px;
    background-color: aquamarine;
    position: relative;
    vertical-align:top;
}

#calc   {
    color: black;
    font-size: 200%;
    width: 300px;
    height: 100px;
    background-color: aquamarine;
    position: relative;
    vertical-align:top;
}

#tempBut {
    padding: 30px 30px;
    text-align: center;

}

#introText {
    font-family: fantasy, papyrus;
    font-size: 400%;
    text-align: center;
}

                /* Temp converter */

#temperature_converter_main_screen_text {
    font-family: fantasy, papyrus;
    font-size: 300%;
    text-align: center;
}

#celsius_to_fahrenheit {
    color: black;
    font-size: 200%;
    width: 300px;
    height: 100px;
    background-color: aquamarine;
    position: relative;
    vertical-align:top;
}

#fahrenheit_to_celsius {
    color: black;
    font-size: 200%;
    width: 300px;
    height: 100px;
    background-color: aquamarine;
    position: relative;
    vertical-align:top;
}

#temperature_converter_main_screen_buttons {
    padding: 30px 30px;
    text-align: center;
}

#tempConBackButton {
    color: black;
    font-size: 200%;
    width: 200px;
    height: 100px;
    background-color: aquamarine;
    position: relative;
    vertical-align:top;
}

#TempConBack {
    text-align: center;
}

                /* C to F*/

#celsiusToFahrenheitInputBoxes_text {
    font-family: fantasy, papyrus;
    font-size: 400%;
    text-align: center;
}

#celsiusToFahrenheitInputBoxes {
    padding: 30px 30px;
    text-align: center;
}

#celsiusToFahrenheitBack {
    padding: 30px 30px;
    text-align: center;
}

#celsiusToFahrenheitBackBtn {
    color: black;
    font-size: 200%;
    width: 200px;
    height: 100px;
    background-color: aquamarine;
    position: relative;
    vertical-align:top;
}

#celsiusInput{
    height: 50px;
    width: 200px;
}

                /* F to C*/

#fahrenheitToCelsiusInputBoxes_text {
    font-family: fantasy, papyrus;
    font-size: 400%;
    text-align: center;
}

#fahrenheitToCelsiusInputBoxes {
    padding: 30px 30px;
    text-align: center;
}

#fahrenheitToCelsiusBack {
    padding: 30px 30px;
    text-align: center;
}

#fahrenheitToCelsiusBackBtn {
    color: black;
    font-size: 200%;
    width: 200px;
    height: 100px;
    background-color: aquamarine;
    position: relative;
    vertical-align:top;
}

#fahrenheitInput{
    height: 50px;
    width: 200px;
}

                /*Calculator*/

#calculatorInputBoxes {
    text-align: center;
    font-family: fantasy, papyrus;
    font-size: 300%;
}

#calculatorBackBtn {
    color: black;
    font-size: 75%;
    width: 200px;
    height: 100px;
    background-color: aquamarine;
    position: relative;
    vertical-align:top;
}

#calculatorEnter {
    color: black;
    font-size: 75%;
    width: 200px;
    height: 100px;
    background-color: aquamarine;
    position: relative;
    vertical-align:top;
}

#firstNumberInput {
    font-size: 50%;
    height: 50px;
    width: 200px;
}

#operatorNumberInput {
    font-size: 50%;
    height: 50px;
    width: 200px;
}

#secondNumberInput {
    font-size: 50%;
    height: 50px;
    width: 200px;
}
