@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

#startGame{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: none;
    margin-top: none;
}

.hidden{
    z-index: 10000000;
    display: none;
}
.gameOver{
    animation: blink 1s linear infinite;
}

#gameOver{
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 90;
    top: 30%;
    animation: blink 1s linear infinite;
}

#page{
    overflow: hidden;
    display: grid;
}

#HighScore{
    padding-top: 20em;
}


#camera{
    overflow: hidden;
    width: 1000px;
    height: 200px;
    border-style: solid 1px black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-bottom: none;
    padding-bottom: none;
}

#character{
    transform: scaleX(-1);
    width: 50px;
    height: 50px;
    /* background-color: red; */
    background-image: url("./marx.jpg");
    background-repeat:no-repeat;
    background-size:contain;
    position: relative;
    top: 150px;
    left: 50px;
}

#block{
    width: 20px;
    height: 20px;
    /* background-color: blue; */
    background-image: url("./Bullet.png");
    background-repeat:no-repeat;
    background-size:contain;
    position: relative;
    top: 130px;
    left: 980px;
    animation-duration: 2s;
}

@keyframes moveForeward{
    0%{left:980px;}
    100%{left:-20px;}
}

@keyframes jump{
    0%{top:150px;}
    30%{top: 70px;}
    70%{top: 70px;}
    100%{top:150px;}

}

.jump{
    animation: jump 400ms linear;
}

.moving{
    animation: moveForeward linear infinite;
}

.text{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    margin-top: 100;
    margin-bottom: -100;
    font-size: large;
    font-weight: bolder;
    color: blue;
}

.colorChange{
    color: red;
    animation: blink 0.5s linear infinite;
}

@keyframes blink{
    0%{opacity: 1;}
    50%{opacity: 1;}
    90%{opacity: 0;} 
    100%{opacity: 1;}
}

.midGame{
    background-color: yellow;
}

.startGame{
    background-color: turquoise;
}

@keyframes endGame1{
    0%   {background-color: orange;}
    50%  {background-color: yellow;}
    100% {background-color: orange;}
    
    
}

.endGame1{
    animation: endGame1 50ms linear infinite;
}

@keyframes endGame2 {
    0%   {background-color: rgb(255, 94, 0);}
    50%  {background-color: white;}
    100% {background-color: rgb(255, 94, 0);}
}

.endGame2{
    animation: endGame2 1s linear infinite;
}

.backEndGame2{
    background-color: red;
}

@keyframes endGame3 {
    0%   {background-color: red;}
    50%  {background-color: white;}
    100% {background-color: black;}
}

.endGame3{
    animation: endGame3 0.8s linear infinite;
}

.backEndGame3{
    background-color: black;
}

@keyframes backEndGame4{
    0%   {background-color: black}
    50%  {background-color: white;}
    100% {background-color: black;}
}

.backEndGame4{
    animation: backEndGame4 0.8s linear infinite;
}

.endGame5{
    animation: endGame3 0.5s linear infinite
}

.backEndGame5{
    animation: backEndGame4 0.4s linear infinite;
}
